@{
    ViewData["Title"] = "О сайте";
}

<div class="information">
    <h1 class="information-title">
        О сайте
    </h1>
</div>
<div class="information-text">
    <p>Сайт #ПройдиТест разработан на платформе .NET с помощью технологии ASP.NET Core MVC.</p>
    <p>На нем есть несколько простых тестов по разным темам, служащих проверкой знаний пользователя.</p>
    <p>
        Сайт задумывался как проект, который должен показать возможности создателя сайта.
        В нем имеется некоторое количество стороннего кода, который используется в основном для дизайна страниц.
    </p>
</div>