/* Test Page */

.test-page__wrapper {
    display: flex;
}

.back-img {
    height: 700px;
}

/* Form */

form {
    margin: 20px 50px 50px 270px;
}

.question {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    color: rgb(56, 163, 6)
}

.answer-option {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.answer-option+label {
    display: inline-flex;
    margin-bottom: 8px;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.answer-option+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #ADB5BD;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.answer-option:not(:disabled):active + label::before {
    background-color: rgb(144, 242, 85);
    border-color: rgb(16, 143, 2);
}

.answer-option:checked + label::before {
    border-color: rgb(56, 163, 6);
    background-color: rgb(57, 189, 12);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

input[type="number"] {
    height: 40px;
    width: 170px;
    padding-left: 5px;
    margin: 20px 0px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid rgb(115, 200, 48);
}

input[type="number"]:focus,
input[type="text"]:focus {
    outline: 1px solid rgb(16, 143, 2);
}

input[type="submit"] {
    height: 60px;
    width: 120px;
    font-size: 16px;
    background-color: rgb(57, 189, 12);
    color: #FFF;
    border-radius: 5px;
}

input[type="submit"]:hover {
    cursor: pointer;
    opacity: 0.8;
}

input[type="text"] {
    height: 45px;
    width: 550px;
    margin: 12px 0px;
    padding: 0px 6px;
    font-size: 20px;
    border: 1px solid rgb(115, 200, 48);
    border-radius: 5px;
}

.tests-img {
    height: 350px;
}

.test-page-title {
    margin: 20px 0px;
    text-align: center;
}

/* Result Page */

.back-btn {
    height: 60px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    letter-spacing: 1.15px;
    background-color: rgb(57, 189, 12);
}

.back-btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.result-text {
    color: #FFF;
    text-shadow: 1px 0px 1px black;
    height: 450px;
    margin: 40px 200px;
    padding: 0px 280px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../images/congratulation.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -310px;
    background-color: rgb(115, 200, 48);
}